*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(./img/astronauta.jpg) center no-repeat fixed;
    background-size: cover;
}
/*Inicio da DIV - geral-quadro*/
@keyframes geral-quadro-animation {
    0%{
        transform:translateX(-400px); /*andar da esquerda pra direita*/
        opacity: -1; /* ficar transparente e aparecer*/
    }100%{
        transform:translateX(0px);
        opacity: 1; 
    }
}
@keyframes data-butto-enviar {
    0%{
        transform: scale(1);
    }50%{
        transform: scale(1.2);
    }100%{
        transform: scale(1);
    }
}
.geral-quadro{
    font-family: "Space Mono script=latin rev=2";
    font-style: italic;
    text-shadow: 2px 2px 4px rgb(2, 26, 236);
    animation: geral-quadro-animation 0.8s ease-in forwards; /*animation - peguei o nome:geral-quadro-animation que gerei em cima, e coloquei quanto tempo dura (1s) e ease é a forma que acontece */
}
.titulo-explic{
    background: url(./img/background\ result.jpg);
}
.geral-quadro .titulo-explic{
    border: 3px solid rgb(51, 30, 235);
    border-radius: 60px 30px;
    padding: 10px;
    text-align: center;
    margin: 20px 25% 0 25%;
}
.geral-quadro h2{
    color: white;
    font-size: 20px;
}
.geral-quadro .titulo{
    color:white;
    font-size: 40px;
}
/*Parte do Formulario*/
.geral-quadro .form-section{
    margin: 5px 30% 0 30%;
}
.form-section form{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 51px 93px 93px 130px;
    align-items: center;
}
.form-data label{
    color: white;
    font-size: 30px;
}
.form-data input{
    border-radius: 10px;
    text-align:end;
}
.form-data button{
    margin-top: 5px;
    height: 40px;
    width: 52px;
    border-radius: 50%;
    transition: 0,50s;
}
.form-section #data-escolhida{
    transition: 0,50s;
}
.form-section button:hover{
    animation: data-butto-enviar 1s ease-out forwards;
}
.form-section #data-escolhida:hover{
    animation: data-butto-enviar 1s ease-out forwards;
}
/*Parte Resultado (section-reposta)*/
#section-reposta{
    background: url(./img/background\ result.jpg);
    border: 2px solid rgb(5, 40, 92);
    border-radius: 40px;
    padding: 10px;
    align-items: center;
    font-family: "Space Mono script=latin rev=2";
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(48, 68, 248);
    margin: 150px 90px 90px 90px;    
}
.invisivel-quadro{
    display: none;
}
.titulo-result{
    color:white;
}
#reposta-data #link-resultado{
    color:white;
    text-decoration: none;
}
.video-assistir{
    margin-top: 10px;
}
.img-resultado{
    transition: 2s;
    margin-top: 5px;
    border-radius: 30px;
}
/*Parte erro*/
#mensagem-erro{
    flex-direction: column;
    align-items: center;
    margin: 13% 30% 10px 30%;
    background: url(./img/background\ result.jpg);
    border: 2px solid rgb(5, 40, 92);
    border-radius: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#mensagem-erro .mensagem-erro{
    text-shadow: 2px 1px 3px rgb(51, 51, 51);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255);
}
#mensagem-erro .button-erro{
    margin-top: 5px;
    height: 40px;
    width: 100px;
    border-radius: 50%;
    transition: 0,50s;
}
.button-erro:hover{
    animation: data-butto-enviar 1s ease-out forwards;
}
.invisivel-erro{
    display: none;
}